body {
	background-color: #000000;
	text-align: center;
}

.wrapper {
	height: 100vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-size: 5rem;
	display: inline;
}

.choose {
	filter: drop-shadow(0 0 0.5rem #ffffff);
}

.title1,
.win,
.player,
.final1 {
	text-shadow: 0 0 0.5rem #0aefff;
}

.title2,
.tie,
.final2 {
	text-shadow: 0 0 0.5rem #a1ff0a;
}

.title3,
.lose,
.computer,
.final3 {
	text-shadow: 0 0 0.5rem #ffd300;
}

.btn-container {
	margin: 3rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	flex: 1;
}

.btn {
	width: 13em;
	height: 13em;
	filter: drop-shadow(0 0 0.5rem #ffffff);
	transition: 0.3s;
}

.results-area {
	white-space: pre;
	font-size: 3rem;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	flex: 1;
}

.btn-choice {
	cursor: default;
	width: 10em;
	height: 10em;
	filter: drop-shadow(0 0 0.5rem #ffffff);
}

.gaymers {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* flex: 1; */
}

h3 {
	font-size: 4rem;
	font-weight: bold;
	margin: 1rem 0;
}

.outcome {
	font-size: 6rem;
}

.winner-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

dialog {
	border-radius: 1em;
	background-color: black;
	box-shadow: 0 0 1rem #0aefff;
}

dialog::backdrop {
	backdrop-filter: blur(0.3em);
}

.final-message {
	margin: 1rem 0;
	font-size: 4rem;
	font-weight: bold;
	filter: drop-shadow(0 0 0.5rem #ffffff);
}

.final-images {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 5em;
}

.popup-image {
	margin: 2rem 0;
	width: 13em;
	height: 13em;
	filter: drop-shadow(0 0 0.5rem #ffffff);
	transition: 0.3s;
}

a {
	color: #000000;
	text-decoration: none;
}

footer {
	background-color: white;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-evenly;
}

#rock:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.5rem #0aefff);
}
#paper:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.5rem #a1ff0a);
}
#scissors:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.5rem #ffd300);
}

#yes:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.5rem #a1ff0a);
}

#no:hover {
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.5rem #ff0000);
}

@media (max-width: 830px) {
	.btn {
		width: 13em;
		height: 13em;
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 830px) {
	.title {
		font-size: 4rem;
	}
}

@media (max-width: 830px) {
	.results-area {
		gap: 0;
		flex-direction: column;
	}
}
